<main class="main">
  <div>
    <div class="justify-content-center text-center mb-3">
      <h1>NAVIGATION</h1>
      <div class="justify-content-center text-center d-flex gap-5 mb-5">
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/invoice/customer/form/"
        >
          GO TO FORM
        </button>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/invoice/customer/list/"
        >
          GO TO LIST
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</main>
